*{padding: 0px;margin: 0px;}
a{text-decoration: none;}
h3{display:block;font-size: 18px;color: #333;}
h4{margin: 20px 0px 10px;color: #333;}
#logo a{width: 260px;height: 60px; font-size: 30px;font-family: "微软雅黑";position: absolute;margin: 20px 0px 0px 20px;}
nav{margin: 30px 0px 0px;float: right;}
nav #navcolor{color: #E15782;}
nav a{font-family: "微软雅黑";margin: 0px 5px;padding: 0px 8px;color: #333;font-size: 18px;}
header{width: 1000px;margin:auto;height: 80px;overflow: hidden;}
.banner{height:230px;background: url(../images/supergirl.jpg) top center;overflow: hidden;}
#box{width: 1000px;margin: auto;overflow: hidden;}
.text{width: 300px;overflow: hidden; line-height: 30px;margin:60px 0px 0px 60px; float: left;font-size: 14px;
	letter-spacing:5px;color: #666; text-shadow: 2px 2px 0px rgba(255, 255, 255, 0.8);}
.author{float:right;margin:40px;height: 130px;width:130px;border-radius: 100px;overflow: hidden;border: 4px solid #fff;}
.author a{display: block;padding-top: 79px;width: 160px;background: url(../images/author.png);}
.author a span{display: block;margin-top:63px;padding-top: 8px;width: 130px;height: 55px;text-align: center;line-height: 20px;color: #fff }
article{margin: 20px auto;width: 1000px;overflow: hidden;}
.left{float:left;width: 700px;height: 130px; overflow: hidden;margin:20px 50px 0px 0px; border: 1px solid #EED3E6;}
.left .img{background: url(../images/one.jpg);width: 120px;height: 110px;float: left; border: 1px solid #333;margin: 10px 10px;}
.left a{display: block; margin: 10px;color: #333;font-size: 14px;text-indent: 100px;}
.left div{height:50px;  margin: 10px;color: #333;font-size: 14px;overflow: hidden;text-indent: 30px;}
.left span{float: right;margin-right:20px; font-size: 12px;}
aside{width: 244px;overflow: hidden;margin-top:20px; }
.new ul{list-style:none;width: 240px;border: 1px solid #EED3E6;padding: 10px 0px;}
.new li{background: url(../images/heart.jpg) no-repeat; height: 20px;margin: 10px 20px;text-indent: 30px;}
.new h3{margin: 0px 0px 10px 20px;}






