body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;}
body{font-size:12px;width: 800px;margin: 0 auto;}
a{text-decoration: none;color: #333;}
.header{display: block; background-color: #29B4C7;height: 40px; width:100%;text-align: center;
		padding-top: 10px;font-size: 18px;}
.header a{color: #fff;}
ul{list-style:none;clear: both;margin: 0 auto;}
li{float:left;height: 30px;width: 200px;border-bottom: 1px solid #999;text-align: center;margin-top: 6px;}
.add{display: block;border-bottom: 1px solid #999;text-align: center;padding: 15px;margin-top:35px; }
input,select,textarea{outline:none;border:none; background:none;}
textarea{resize:none;}